create table if not exists leads(

id uuid primary key default uuid_generate_v4(),

company text,
website text,
phone text,
email text,
industry text,
source text,

created_at timestamp default now()

);
